Is there a gender difference in the tags awarded by students? Make sure to teach each of the 20 tags for a potential gender difference and report which of them exhibit a statistically significant different. Comment on the 3 most gendered (lowest p-value) and least gendered (highest p-value) tags.

We need the rmpCapstoneNum and rmpCapstoneQual datasets to answer this question.

Column 1: “Tough grader”Column 2: “Good feedback”Column 3: “Respected”Column 4: “Lots to read”Column 5: “Participation matters”Column 6: “Don’t skip class or you will not pass”Column 7: “Lots of homework”Column 8: “Inspirational”Column 9: “Pop quizzes!”Column 10: “Accessible”Column 11: “So many papers”Column 12: “Clear grading”Column 13: “Hilarious”Column 14: “Test heavy”Column 15: “Graded by few things”Column 16: “Amazing lectures”Column 17: “Caring”Column 18: “Extra credit”Column 19: “Group projects”Column 20: “Lecture heavy”

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
'''
Columns are:
1. Average Rating (the arithmetic mean of all individual quality ratings of this professor)
2. Average Difficulty (the arithmetic mean of all individual difficulty ratings of this professor)
3. Number of ratings (simply the total number of ratings these averages are based on)
4. Received a “pepper”? (Boolean - was this professor judged as “hot” by the students?)
5. The proportion of students that said they would take the class again
6. The number of ratings coming from online classes
7. Male gender (Boolean – 1: determined with high confidence that professor is male)
8. Female (Boolean – 1: determined with high confidence that professor is female)
'''
df_capstone = pd.read_csv('./rmpCapstoneNum.csv', header=None)
df_capstone.columns = ['Average Rating', 'Average Difficulty', 'Number of ratings', 'Received a pepper', 
                       'Proportion of students that said they would take the class again', 
                       'Number of ratings coming from online classes', 'Male Professor', 'Female Professor']

In [3]:
df_capstone_tags = pd.read_csv('./rmpCapstoneTags.csv', header=None)
df_capstone_tags.columns = ['Tough grader', 'Good feedback', 'Respected', 'Lots to read', 'Participation matters', 
                            'Don’t skip class or you will not pass', 'Lots of homework', 'Inspirational', 'Pop quizzes!', 
                            'Accessible', 'So many papers', 'Clear grading', 'Hilarious', 'Test heavy', 'Graded by few things', 
                            'Amazing lectures', 'Caring', 'Extra credit', 'Group projects', 'Lecture heavy']

In [4]:
# Merge the two dataframes
df_merged = pd.concat([df_capstone, df_capstone_tags], axis=1)

df_merged.head()

,Average Rating,Average Difficulty,Number of ratings,Received a pepper,Proportion of students that said they would take the class again,Number of ratings coming from online classes,Male Professor,Female Professor,Tough grader,Good feedback,...,So many papers,Clear grading,Hilarious,Test heavy,Graded by few things,Amazing lectures,Caring,Extra credit,Group projects,Lecture heavy
0,5.0,1.5,2.0,0.0,NaN,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.2,3.0,4.0,0.0,NaN,0.0,1,0,2,1,...,0,0,0,0,0,0,0,0,0,0
3,3.6,3.5,10.0,1.0,NaN,0.0,0,0,6,3,...,0,2,1,0,0,0,0,0,1,0
4,1.0,5.0,1.0,0.0,NaN,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_merged.shape

(89893, 28)

In [6]:
# Drop rows with average rating of NaN
df_merged = df_merged.dropna(subset=['Average Rating'])

In [7]:
df_merged.shape

(70004, 28)

In [8]:
# subset the data to only include professors with 10 or more ratings
df_merged_min_10 = df_merged[df_merged['Number of ratings'] >= 10]